@import url(reset.css);
@import url(variaveis.css);

@import url(cabecalho.css);

@import url(./componentes/loader.css);
@import url(./componentes/sumario.css);
@import url(./componentes/acoes-navegacao.css);

@import url(./componentes/funcoes.css);
@import url(./componentes/importacao.css);
@import url(./componentes/codigos.css);
@import url(./componentes/demonstracao.css);
@import url(./componentes/diagnostico.css);
@import url(./componentes/contato.css);

@import url(footer.css);

html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;  
}

body{
  scroll-snap-type: y mandatory;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url(../img/banner.png);
  background-position: top;
  /* background-size: 200%; */
  background-repeat: no-repeat;
  
  display: grid;
  grid-template-columns: 80vw auto;
  grid-template-rows: auto auto;
  
  background-color: #000;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.tudo{
  margin-left: 5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 0px) and (max-width: 290px) {
  body{
    grid-template-columns: auto;
    /* background-size: 400%; */
  }
  
  .tudo{
    margin-left: 0.25rem;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-bottom: 0;
  } 
}

@media screen and (min-width: 290px) and (max-width: 767px) {
  body{
    grid-template-columns: auto;
  }
  
  .tudo{
    margin: 0 5%;
  } 
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  body{
    grid-template-columns: auto;
  }
  
  .tudo{
    margin: 0 2rem;
  } 
}

@media screen and (min-width: 1024px) and (max-width: 1360px) {
  body{
    grid-template-columns: 75vw auto;
    background-size: contain;
  }
}

@media screen and (min-width: 1024px) {
  .cabecalho,
  .funcoes,
  .importacao,
  .demonstracao,
  .diagnostico,
  .contato,
  footer{
    scroll-snap-align: start;
  }
}