.contato{
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.contato__titulo{
  font-family: var(--fonte-family-titulo-h3);
  font-size: var(--tamanho-fonte-titulo-h3);
  font-weight: var(--fonte-weight-titulo-h3);
  margin: 2rem 0;
  display: block;
}

.contato__link{
  color: var(--cor-link-contato);
}

.contato__link:hover{
  text-decoration: underline;
}